<div class="card altura-tarjeta mb-3" style="width: 18rem; ">
    <img class="card-img-top altura-fija p-5" [src]="imagen" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title justify-content-center">{{nombre}}</h5>
        <div class="align-items-center d-flex justify-content-center">
            <p>${{precio}} MXN</p>
        </div>
        <div class="card-body d-flex justify-content-center">
            <a href="#" class="btn btn-dark mx-1"><i class="fa-solid fa-cart-shopping"></i></a>
            <a [routerLink]="['/detalle-producto/',id]" class="btn btn-info">
                Info
            </a>
        </div>
    </div>    
</div>